extends base.pug

block content
    div#videocontainer(data-id = video._id)
        video(src=`/${video.fileUrl}`)
        div#videoControlsDiv
            div#videoControls
                button.fas.fa-play#play
                div 
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
                div#timelineDiv
                    input(type="range" step="1" value=0 min="0")#timeline
                button.fas.fa-volume-up#mute
                input(type="range" step="0.1" value=0.5 min="0" max="1")#volume
                div 
                    button#fullscreen.fas.fa-expand
    p=video.description
    p Upload By #{video.owner.username}
    small=video.createdAt
    if video.owner._id+"" === loggedInUser._id+""
        br
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts 
    script(src="/assets/js/videoPlayer.js")